body {
  padding-top: 70px;
  font-family: "Gotham A", "Gotham B", Arial, sans-serif;
}
.navbar-topgrade {
    background-color: #fff;
    border-color: #e7e7e7;
}
.navbar-topgrade li a {color:#34312d;font-size:13px;font-family: "方正兰亭准黑_GBK";}
.navbar-topgrade .navbar-toggle {
    border-color: #dddddd;
}

.navbar-topgrade .navbar-toggle:hover,
.navbar-topgrade .navbar-toggle:focus {
    background-color: #dddddd;
}

.navbar-topgrade .navbar-toggle .icon-bar {
    background:#34312d;

}

.navbar-topgrade li.lanuage {background:url(../images/lanbg.png) no-repeat;width:109px;text-align:center;}
.navbar-topgrade li.lanuage a {border: none;}
.navbar-topgrade li.nb a{border: none;}
.navbar-topgrade li.lanuage a:hover {background:none;color:#333;}
.carousel-caption h1 {text-shadow: none;}
.carousel-caption p {text-shadow: none;font-family: "方正兰亭准黑_GBK", Arial, sans-serif;}
.mainnav {background:#e6e6e6;}
.nav-pills {margin:0;padding:0;line-heihgt:40px;font-size: 13px;}
.nav-pills li a {background:none;font-family: "方正兰亭准黑_GBK", Arial, sans-serif;color:#333;border:1px solid #ccc;}
.nav-pills li a:hover,.nav-pills li a.active {background:#a60000;color:#fff;}



.links ,.links li {margin:0;list-style: none;color:#666;font-family: "方正兰亭准黑_GBK", Arial, sans-serif;font-size: 12px;}
.links li {display: inline;padding:0 13px;}
.links li a {color:#666;}
.links li a:hover {text-decoration: none;color:#333;}
.links li.rline {border-right: 1px solid #777;}


/*commend*/
.commend {background:url("../images/commendbg.jpg") repeat;padding-top:7px;}

.clienti-titolo {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.row.clienti {
    background: #c7c9c8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-bottom: solid 2px #c7c9c8;
    border-right: solid 1px #c7c9c8;
}

.clienti .col-md-2 {
    padding: 0;
    border-top: solid 1px #c7c9c8;
    border-left: solid 1px #c7c9c8;
    overflow: hidden;
}

.pannello {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    margin: 0;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */


.pannello .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 9;
    width: inherit;
    height: 100%;
    background: #fff;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform-style: flat;
    }

.pannello.flip .front {
    z-index: 9;
    border-color: #eee;
    background: #d8dddc;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.pannello .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: inherit;
    height: 100%;
    background: #424b51;
    color: #fff;
    text-align: center;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.pannello.flip .back {
    z-index: 10;
    background: #5c91b5;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.pannello .front .pad {
    width: 100%;
    height: auto;
}

.pannello img {
    width: 100%;
    height: auto;
}

.pannello .back h5 {
    margin-top: 20px;
    letter-spacing: 0;
    font-size: 14px;
}

.pannello .back p {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.1em;
}

.pannello.cl-tu .front {
    background: url(../img/avatar-placeholder.png) #eef3f7 no-repeat;
    background-size: 100% 100%;
    border: dashed 3px #c3d6e4;
    border-bottom: solid 3px #c3d6e4;
    height: 100%;
}

.pannello.cl-tu h3 {
    margin-top: 36px;
}

.pannello.cl-tu p {
    font-size: 16px;
}

section.blu.webdev {
    background: url(../img/webdev-bg.png);
}

